$font-default: "Open Sans", sans;
$color-text-default: #ffffff;
$color-text-contrast: #333333;
$width-card-mobile: calc(175px + 12px + 100px);
$width-card-tab: 290px;
$width-card-desktop: 273px;
$breakpoint-tab: 768px;
$breakpoint-desktop: 1440px;
