doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Тестовое задание
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    h1.visually-hidden Тестовое задание Йенго
    ul.feed
      li.feed__item
        article.card
          a(href="#").card__link
            div.card__blackout
              picture
                source(srcset="img/thumb-tab-1.webp" type="image/webp" media="(min-width: 652px)")
                source(srcset="img/thumb-mobile-1.webp" type="image/webp")
                img.card__image(src="img/thumb-mobile-1.jpg" srcset="img/thumb-tab-1.jpg 273w" sizes="(min-width: 652px) 273px, 100px" alt="Апартаменты")
            div.card__text-wrap
              h2.card__heading Апартаменты от 7,2 млн
              p.card__text Престижные апартаменты Матч Поинт на Кутузовском в шаге от Парка Победы и Филевского парка
      li.feed__item
        article.card
          a(href="#").card__link
            div.card__blackout
              picture
                source(srcset="img/thumb-tab-2.webp" type="image/webp" media="(min-width: 652px)")
                source(srcset="img/thumb-mobile-2.webp" type="image/webp")
                img.card__image(src="img/thumb-mobile-2.jpg" srcset="img/thumb-tab-2.jpg 273w" sizes="(min-width: 652px) 273px, 100px" alt="Мужчина с акулой")
            div.card__text-wrap
              h2.card__heading Стань вождём клана!
              p.card__text Докажи всем, что ты сможешь их привести к победе в бою за королевство
      li.feed__item
        article.card
          a(href="#").card__link
            div.card__blackout
              picture
                source(srcset="img/thumb-tab-3.webp" type="image/webp" media="(min-width: 652px)")
                source(srcset="img/thumb-mobile-3.webp" type="image/webp")
                img.card__image(src="img/thumb-mobile-3.jpg" srcset="img/thumb-tab-3.jpg 273w" sizes="(min-width: 652px) 273px, 100px" alt="Дженнифер Лопес")
            div.card__text-wrap
              h2.card__heading В отличной форме: 49-летняя Дженнифер Лопес снялась для глянца в купальнике
              p.card__text Певица не устает удивлять поклонников [фото]
      li.feed__item
        article.card
          a(href="#").card__link
            div.card__blackout
              picture
                source(srcset="img/thumb-tab-4.webp" type="image/webp" media="(min-width: 652px)")
                source(srcset="img/thumb-mobile-4.webp" type="image/webp")
                img.card__image(src="img/thumb-mobile-4.jpg" srcset="img/thumb-tab-4.jpg 273w" sizes="(min-width: 652px) 273px, 100px" alt="Москвичка в очках")
            div.card__text-wrap
              h2.card__heading Москвичка, взявшая в попутчики маньяка, могла быть убита
              p.card__text 29-летнюю директора Burger King ищет полиция и волонтеры, но в ее исчезновении есть криминальный след.
